

        <div class="animated fadeIn">
            

            <div class="row">



                <div class="col-md-10">
                    
                  
                        <div class="card border border-secondary">
                            
                            <div class="card-header">
                              
                                <strong>Demand Estimation</strong> 
                            </div>
                            <div class="card-body card-block">
                                <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">

                                  <div class="row form-group">
                                      <div class="col col-md-3"><label for="Expected_Date" class=" form-control-label">Expected Date</label></div>
                                      <div class="col-12 col-md-9"><input type="date" id="Expected_Date" name="Expected_Date"  class="form-control"></div>
                                  </div>
                                    
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="Component" class=" form-control-label">Component</label></div>
                                        <div class="col-12 col-md-9">
                                            <select name="Component" id="Component" class="form-control">
                                                <option value="0">Please select</option>
                                                <option value="1">Inner Ring</option>
                                                <option value="2">Outer Ring</option>
                                                <option value="3">Ball</option>
                                                <option value="4">Roller</option>
                                                <option value="5">Cage</option>
                                                <option value="6">Lubricant</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="Component Type" class=" form-control-label">Component Type</label></div>
                                        <div class="col-12 col-md-9">
                                            <select name="Component Type" id="Component Type" class="form-control">
                                                <option value="0">Please select</option>
                                                <option value="1">Type 1</option>
                                                <option value="2">Type 2</option>
                                                <option value="3">Type 3</option>
                                                <option value="4">Type 4</option>
                                                <option value="5">Type 5</option>
                                                <option value="6">Type 6</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="Mode" class=" form-control-label">Mode of delivery</label></div>
                                        <div class="col-12 col-md-9">
                                            <select name="Mode" id="Mode" class="form-control">
                                                <option value="0">Please select</option>
                                                <option value="1">A</option>
                                                <option value="2">B</option>
                                                <option value="3">C</option>  
                                            </select>
                                        </div>
                                    </div>



                                    



                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="Quantity" class=" form-control-label">Quantity</label></div>
                                        <div class="col-12 col-md-9"><input type="number" id="Quantity" name="Quantity" placeholder="Enter Quantity" class="form-control"></div>
                                    </div>

                                   

                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="Price" class=" form-control-label">Price</label></div>
                                        <div class="col-12 col-md-9"><input type="number" id="Price" name="Price" placeholder="Enter the price" class="form-control"></div>
                                    </div>
                                    
                                    
                                    
                                    


                                    
                                   
                                    <div class="form-actions form-group"><button type="submit" class="btn btn-success btn-sm">Submit</button></div>
                                   
                                    
                                   
                                </form>
                        

                </div>
            </div>
            
            </div>
         
    </div>
    </div>