<br>
<br>
<br>
<br>
<br>

<div class="row">
<div class="col-md-2">
</div>
<div class="col-lg-8">
    <div class="card border border-secondary">
      <div class="card-header">Login</div>
      <div class="card-body card-block">
          <form action="#" method="post" class="">
              <div class="form-group">
                  <div class="input-group">
                      <input type="text" id="username2" name="username2" placeholder="Username" class="form-control">
                      <div class="input-group-addon"><i class="fa fa-user"></i></div>
                  </div>
              </div>
              <div class="form-group">
                  <div class="input-group">
                      <input type="email" id="email2" name="email2" placeholder="Email" class="form-control">
                      <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                  </div>
              </div>
              <div class="form-group">
                  <div class="input-group">
                      <input type="password" id="password2" name="password2" placeholder="Password" class="form-control">
                      <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                  </div>
              </div>
              <div class="form-actions form-group"><button type="submit" class="btn btn-success btn-sm">Submit</button></div>
          </form>
      </div>
  </div>
</div>
<div class="col-md-2">
  </div>
</div>
