

 <div id="right-panel" class="right-panel">

  <!-- Header-->
  <header id="header" class="header">
     
  </header><!-- /header -->
  <!-- Header-->


  <div class="content">
      <div class="animated fadeIn">
          

          <div class="row">



              <div class="col-md-10">
                  <div class="card">
                      <div class="card-header bg-secondary">
                          <strong class="card-title text-light">Card Header</strong>
                      </div>
                      <div class="card-body text-white bg-success">
                          <p class="card-text text-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                  </div>
              </div>
          </div><!-- .row -->
            
          <div class="row">



              <div class="col-md-10">
                  <div class="card">
                      <div class="card-header bg-secondary">
                          <strong class="card-title text-light">Card Header</strong>
                      </div>
                      <div class="card-body text-white bg-success">
                          <p class="card-text text-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                  </div>
              </div>
          </div><!-- .row -->

          <div class="row">



              <div class="col-md-10">
                  <div class="card">
                      <div class="card-header bg-secondary">
                          <strong class="card-title text-light">Card Header</strong>
                      </div>
                      <div class="card-body text-white bg-success">
                          <p class="card-text text-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                  </div>
              </div>
          </div><!-- .row -->


          <div class="row">



              <div class="col-md-10">
                  <div class="card">
                      <div class="card-header bg-secondary">
                          <strong class="card-title text-light">Card Header</strong>
                      </div>
                      <div class="card-body text-white bg-success">
                          <p class="card-text text-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                  </div>
              </div>
          </div><!-- .row -->
          <div class="row">



              <div class="col-md-10">
                  <div class="card">
                      <div class="card-header bg-secondary">
                          <strong class="card-title text-light">Card Header</strong>
                      </div>
                      <div class="card-body text-white bg-success">
                          <p class="card-text text-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                  </div>
              </div>
          </div><!-- .row -->


          <div class="row">



              <div class="col-md-10">
                  <div class="card">
                      <div class="card-header bg-secondary">
                          <strong class="card-title text-light">Card Header</strong>
                      </div>
                      <div class="card-body text-white bg-success">
                          <p class="card-text text-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                  </div>
              </div>
          </div><!-- .row -->

          <div class="row">



              <div class="col-md-10">
                  <div class="card">
                      <div class="card-header bg-secondary">
                          <strong class="card-title text-light">Card Header</strong>
                      </div>
                      <div class="card-body text-white bg-success">
                          <p class="card-text text-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                  </div>
              </div>
          </div><!-- .row -->

          <div class="row">



              <div class="col-md-10">
                  <div class="card">
                      <div class="card-header bg-secondary">
                          <strong class="card-title text-light">Card Header</strong>
                      </div>
                      <div class="card-body text-white bg-success">
                          <p class="card-text text-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                  </div>
              </div>
          </div><!-- .row -->





      </div><!-- .animated -->
  </div><!-- .content -->

<div class="clearfix"></div>

<footer class="site-footer">
  <div class="footer-inner bg-white">
      <div class="row">
          <div class="col-sm-6">
              Copyright &copy; 2018 Ela Admin
          </div>
          <div class="col-sm-6 text-right">
              Designed by <a href="https://colorlib.com">Colorlib</a>
          </div>
      </div>
  </div>
</footer>


</div>