<div id="right-panel" class="right-panel">
<header id="header" class="header" >
    <div class="top-left">
        <div class="navbar-header" style="padding-left: 50px ; padding-top: 0px" >
            <a class="navbar-brand" href="#" style="" ><img style="height:50px" src="../assets/images/skf.png" alt="Logo"></a>
            <!-- <a class="navbar-brand hidden" href="./"><img src="images/logo2.png" alt="Logo"></a> -->
            <!-- <a id="menuToggle" class="menutoggle"><i class="menu-icon fa fa-bars"></i></a> -->
        </div>
    </div>
</header>
</div>

<app-skf></app-skf>